body{
    background-color: rgb(211, 241, 241);
}

.container{
    padding: 15px;
}

.block{
    margin-bottom: 20px;
    border-radius: 6px;
    max-width: max-content;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px rgba(166, 172, 176, 1);
}