.item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.avatar{
    width: 32px;
    margin-bottom: 10px;
}

.avatar:last-child{
    margin-bottom: 0;
}

.name{
    max-height: max-content;
    padding: 1em;
}

.online{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #0f0;
}

.offline{
    composes: online;

    background-color: #f00;
}